<div *ngIf="!loading" class="card">
  <div class="card-header">Receita</div>
  <div class="card-body">
    <form action="/pagina-processa-dados-do-form" method="post">
      <div class="row mb-2">
        <div class="col-1">
          <label for="msg">Utente:</label>
        </div>
        <div class="col-11">
          <select class="form-control" id="utente" required [(ngModel)]="model.utente" name="utente">
            <option *ngFor="let utente of utentes" [value]="utente._id">{{utente.name}}</option>
          </select>
        </div>
      </div>
      <label>Prescrições</label>
      <div id="produto" *ngFor="let prescricao of prescricoes; let i = index">
        <div class="card">
          <div class="card-header">Prescrição {{i+1}}</div>
          <div class="card-body">
            <div class="row mt-2">
            </div>
            <div class="row ml-2">
              <div class="col-1">
                <label for="msg">Farmaco:</label>
              </div>
              <div class="col-10">
                <select class="form-control" id="farmaco" required [(ngModel)]="model.farmaco" name="farmaco">
                  <option *ngFor="let farmaco of farmacos[0]" [value]="farmaco.id">{{farmaco.nome}}</option>
                </select>
              </div>
            </div>

            <div class="row ml-2">
              <div class="col-1">
                <label for="msg">Apresentacao:</label>
              </div>
              <div class="col-10">
                <select class="form-control" id="apresentacao" required [(ngModel)]="model.apresentacao" name="apresentacao">
                  <option *ngFor="let apresentacao of apresentacoes[0] " [value]="apresentacao.id">{{apresentacao.forma}}, {{apresentacao.quantidade}}, {{apresentacao.concentracao}}</option>
                </select>
              </div>
            </div>
            <div class="row ml-2">
              <div class="col-1">
                <label for="msg">Posologia:</label>
              </div>
              <div class="col-10">
                <input class="form-control" type="text" required  [value]="text" [(ngModel)]="model.posologia" name="posologia" id="posologia" />
              </div>
            </div>
          </div>
          <div class="row ml-2">
            <div class="col-1">
              <label for="msg">Quantidade:</label>
            </div>
            <div class="col-10">
              <input class="form-control" type="text" required [value]="msg" [(ngModel)]="model.quantidade" name="quantidade" id="quantidade" />
            </div>
          </div>
            <div class="row ml-2">
              <div class="col-1">
                <label for="date">Validade Prescrição:</label>
              </div>
              <div class="col-10">
                <input class="form-control" type="date" required  [value]="date" [(ngModel)]="model.validade" name="validade" id="validade" />
              </div>
            </div>
          
        </div>
        <div class="row mb-2">
          <div class="col">
            <button type="button" (click)="removerPrescricao(i)" color="red" class="btn btn-outline-danger">Remover Prescrição</button>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <button type="button" (click)="addPrescricao()" class="btn btn-outline-dark">Adicionar Prescrição</button>
        </div>
      </div>

      <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-dark" (click)="onSubmit()">Criar Receita</button>
      </div>

    </form>
  </div>
</div>