<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />

            <form role="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-content" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <input type="text" class="form-control input-underline input-lg" name="email" [(ngModel)]="model.email" #email="ngModel"
                        placeholder="Email" required />
                    <div *ngIf="f.submitted && !email.valid" class="helpblock">email is required</div>
                </div>
                <div class="form-content" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" class="form-control input-underline input-lg" name="password" [(ngModel)]="model.password" #password="ngModel"
                        placeholder="Password" required />
                    <div *ngIf="f.submitted && !password.valid" class="helpblock">Password is required</div>
                </div>
                <div class="form-content">
                    <button class="btn rounded-btn btn-sm" [disabled]="loading"> Login </button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYo
                    KCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5
                    mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2
                    LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG
                    4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAA
                    AsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJ
                    Z7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYum
                    CYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAE
                    AAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpF
                    KSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojE
                    MBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZ
                    nFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAi
                    B1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button class="btn rounded-btn btn-sm" [routerLink]="['/signup']">Register</button>
                </div>
                <button class="btn btn-link "style="padding: 0.375rem 1rem; color: #999;" [routerLink]="['/layout']">Guest User</button>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</div>