<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">SPA Gestão Receitas </a>
    <button class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}">
        </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-xl-block">
                <button class="btn btn-dark" type="button"  (click)="onLoggedout()">
                    Logout
                </button>
            </li>
        </ul>>
    </div>
</nav>