<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">

        <div *ngIf="!authService.userInfo">
            <a [routerLink]="['/layout/apresentacoes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-th-list"></i>&nbsp;{{ 'Medicamentos' }}
            </a>
        </div>
        <div *ngIf="authService.userInfo" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Receitas' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <div *ngIf="authService.userInfo && (authService.userInfo.medico || authService.userInfo.utente)">
                        <li>
                            <a [routerLink]="['/layout/receitas']" [routerLinkActive]="['router-link-active']">
                                <span>{{ 'Consultar Receitas' }}</span>
                            </a>
                        </li>
                    </div>
                    <div *ngIf="authService.userInfo && authService.userInfo.farmaceutico">
                        <li>
                            <a [routerLink]="['/layout/receitas/cons-receita-farmc']" [routerLinkActive]="['router-link-active']">
                                <span>{{ 'Consultar Receita' }}</span>
                            </a>
                        </li>
                    </div>
                    <div *ngIf="authService.userInfo && authService.userInfo.medico">
                        <li>
                            <a [routerLink]="['/layout/receitas/criar-receita']" [routerLinkActive]="['router-link-active']">
                                <span>{{ 'Criar Receita' }}</span>
                            </a>
                        </li>
                    </div>
                    <div *ngIf="authService.userInfo && authService.userInfo.medico">
                        <li>
                            <a [routerLink]="['/layout/receitas/atualizar-receita']" [routerLinkActive]="['router-link-active']">
                                <span>{{ 'Atualizar Receita' }}</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        </div>
        <div *ngIf="authService.userInfo && authService.userInfo.medico">
            <a [routerLink]="['/layout/comentar-apresentacao-farmaco']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Comentar Farmaco' }}
            </a>
        </div>
        </ul>
</nav>