<div class="col-md-12">
  <h1>Receitas</h1>
  <div >

    <div class="card-body table-responsive table-hover">
      <table class="table ">
        <thead>
          <tr>
            <th>Medico</th>
            <th>Paciente</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receita of receitas" [class.selected]="receita === selectedReceita" (click)="onSelect(receita)">
            <td>{{receita.medico.name}}</td>
            <td>{{receita.utente.name}}</td>
            <td>{{receita.data}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-receita-detail [receita]="selectedReceita"></app-receita-detail>
  </div>
</div>