<div *ngIf="receita">
  <div class="card">
    <div class="card-header">Prescricoes</div>
    <div class="card-body ">
      <table class="table">
        <thead>
          <tr>
            <th>Prescricao Id</th>
            <th>Apresentacao</th>
            <th>Farmaco</th>
            <th>Posologia Prescrita</th>
            <th>Quantidade</th>
            <th>Validade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prescricao of receita.prescricoes">
            <td>{{prescricao._id}}</td>
            <td>{{prescricao.apresentacao}}</td>
            <td>{{prescricao.farmaco}}</td>
            <td>{{prescricao.posologiaPrescrita}}</td>
            <td>{{prescricao.quantidade}}</td>
            <td>{{prescricao.validade}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
