<div *ngIf="!loading">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Apresentações</div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Medicamento</th>
              <th>Farmaco</th>
              <th>Concentração</th>
              <th>Quantidade</th>
              <th>Forma</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apresentacao of apresentacoes">
              <td>{{apresentacao.medicamento.nome}}</td>
              <td>{{apresentacao.farmaco.nome}}</td>
              <td>{{apresentacao.concentracao}}</td>
              <td>{{apresentacao.quantidade}}</td>
              <td>{{apresentacao.forma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>