<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Signup</h1>
            <form role="form"  name="form" (ngSubmit)="signupForm.form.valid && onSubmit()" #signupForm="ngForm" novalidate>
                <div class="form-content" [ngClass]="{ 'has-error': signupForm.submitted && !name.valid }" >
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Name" name="name" [(ngModel)]="model.name" #name="ngModel">
                        <div *ngIf="signupForm.submitted && !name.valid" class="helpblock">Name is required</div>
                    </div>

                    <div class="form-group"  [ngClass]="{ 'has-error': signupForm.submitted && !email.valid }">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Email"  [(ngModel)]="model.email" name="email" #email="ngModel">
                        <div *ngIf="signupForm.submitted && !email.valid" class="helpblock">Email is required</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': signupForm.submitted && !password.valid }">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Password"  [(ngModel)]="model.password" name="password" #password="ngModel">
                        <div *ngIf="signupForm.submitted && !password.valid" class="helpblock">Password is required</div>
                    </div>
                </div>
                 <div class="form-content">
                <button class="btn rounded-btn" [disabled]="loading" > Register </button>&nbsp;
                <button class="btn rounded-btn" [routerLink]="['/login']"> Log in </button>
                 </div>
            </form>
        </div>
    </div>
</div>
