
<form>
    <div *ngIf="!loadingF" class="form-group">
      <div class="col-5">
        <label for="farmacos">Farmacos</label>
        <select class="form-control" id="farmacos" required [(ngModel)]="model.farmaco" name="farmacos">
          <option *ngFor="let farmaco of farmacos[0]" [value]="farmaco.nome">{{farmaco.nome}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="model.farmaco && !loading">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">Apresentações</div>
            <div class="card-body table-responsive">
                <div class="card-body table-responsive table-hover">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Quantidade</th>
                                <th>Concentração</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let apresentacao of apresentacoes" (click)="onSelect(apresentacao)">
                            <td>{{apresentacao.quantidade}}</td>
                            <td>{{apresentacao.concentracao}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
    <div class="form-group">
      <div class="col-5">
        <label for="comentario">Comentário</label>
        <input type="text" class="form-control" id="comentario" name="comentario" placeholder="Introduza um comentário" [(ngModel)]="model.comentario">
      </div>
    </div>
    <div class="col-5">
      <button type="submit" class="btn btn-dark" (click)="addComentario()">Submeter</button>
    </div>
  </form>