<form role="form" name="form">
    <div class="form-group">
        <label for="receita">Receita Id</label>
        <input type="text" class="form-control" id="receita" name="receita" required placeholder="Introduza Id da Receita" [(ngModel)]="model.receitaId"
            #receitaId="ngModel" (keyup.enter)="selectReceita()">
    </div>
</form>
<div *ngIf="loading">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Receita</div>
            <div class="card-body table-responsive">

                <div class="card-body table-responsive table-hover">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Medico</th>
                                <th>Paciente</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{selectedReceita.medico.name}}</td>
                                <td>{{selectedReceita.utente.name}}</td>
                                <td>{{selectedReceita.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Prescricoes</div>
            <div class="card-body table-responsive">
                <div>
                    <div class="card-body table-responsive table-hover">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Prescricao Id</th>
                                    <th>Apresentacao</th>
                                    <th>Farmaco</th>
                                    <th>Posologia Prescrita</th>
                                    <th>Validade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prescricao of selectedReceita.prescricoes">
                                    <td>{{prescricao._id}}</td>
                                    <td>{{prescricao.apresentacao}}</td>
                                    <td>{{prescricao.farmaco}}</td>
                                    <td>{{prescricao.posologiaPrescrita}}</td>
                                    <td>{{prescricao.validade}}</td>
                                    <button type="button" class="btn btn-outline-dark" (click)="aviar(prescricao.numero,prescricao._id)">Aviar</button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="aviarP">

        <label for="aviarQuantidade">Quantidade</label>
        <input type="text" class="form-control" id="aviarQuantidade" name="aviarQuantidade" required placeholder="Introduza a quantidade a aviar"
            [(ngModel)]="model.aviarQuantidade" (keyup.enter)="aviarQuantidade()">
        <div>
            <button type="button" class="btn btn-outline-dark" (click)="aviarTotalmente()">Aviar Totalmente</button>
        </div>
    </div>
</div>