<form role="form" name="form">
    <div class="form-group">
        <label for="receita">Receita Id</label>
        <input type="text" class="form-control" id="receita" name="receita" required placeholder="Introduza Id da Receita" [(ngModel)]="model.receitaId"
            #receitaId="ngModel" (keyup.enter)="selectReceita()">
    </div>
</form>
<div *ngIf="loading">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Receita</div>
            <div class="card-body table-responsive">

                <div class="card-body table-responsive table-hover">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Medico</th>
                                <th>Paciente</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{selectedReceita.medico.name}}</td>
                                <td>{{selectedReceita.utente.name}}</td>
                                <td>{{selectedReceita.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Prescricoes</div>
            <div class="card-body table-responsive">
                <div>
                    <div class="card-body table-responsive table-hover">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Prescricao Id</th>
                                    <th>Apresentacao</th>
                                    <th>Farmaco</th>
                                    <th>Posologia Prescrita</th>
                                    <th>Quantidade</th>
                                    <th>Validade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prescricao of selectedReceita.prescricoes">
                                    <td>{{prescricao._id}}</td>
                                    <td>{{prescricao.apresentacao}}</td>
                                    <td>{{prescricao.farmaco}}</td>
                                    <td>{{prescricao.posologiaPrescrita}}</td>
                                    <td>{{prescricao.quantidade}}</td>
                                    <td>{{prescricao.validade}}</td>
                                    <button type="button" class="btn btn-outline-dark" (click)="editar(prescricao.numero, prescricao._id)">Editar</button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="editarFlag && loading2">
        <div class="row ml-2">
            <div class="col-1">
                <label for="msg">Quantidade:</label>
            </div>
            <input type="text" class="form-control" id="quantidade" name="quantidade" required placeholder="Introduza nova quantidade prescrita"
                [(ngModel)]="model.quantidade">
        </div>


        <div class="row ml-2">
            <div class="col-1">
                <label for="msg">Validade:</label>
            </div>
            <input type="date" class="form-control" id="validade" name="validade" required placeholder="Introduza nova validade da Prescrição"
                [(ngModel)]="model.validade">
        </div>
        <div class="row mb-2">
            <div class="col">
                <button type="button" (click)="submeterEdicao()" class="btn btn-outline-dark">Submeter Edição</button>
            </div>
        </div>
    </div>